build/
node_modules/
.libs/
.deps/
.dirstamp
*.lo
*.o
src/third_party/opus/**/Makefile
src/third_party/opus/**/celt/tests/
src/third_party/opus/**/tests/
src/third_party/opus/**/celt/arm/armopts.s
src/third_party/opus/**/config.h
src/third_party/opus/**/config.log
src/third_party/opus/**/config.status
src/third_party/opus/**/doc/
src/third_party/opus/**/libopus.la
src/third_party/opus/**/libtool
src/third_party/opus/**/config.h
src/third_party/opus/**/opus-uninstalled.pc
src/third_party/opus/**/opus.pc
src/third_party/opus/**/opus_compare
src/third_party/opus/**/opus_demo
src/third_party/opus/**/repacketizer_demo
src/third_party/opus/**/stamp-h1
